<div class="registration-container">
    <h2>Login Here</h2>
    <form>
      
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Email Address" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm Password">
      </div>
      
      <button type="submit" class="login-btn"  >Login </button>
      <div class="password-link">
        <a >forget password</a>
      </div>

      
      <div class="register-link">
        <a [routerLink]="['/register']">register</a>
      </div>
    </form>
  </div>
  